{% extends "layout.njk" %}

{% block content %}

<div class="card" >
  <section class="avatar" style="background:url({{ member.avatar_url }}) no-repeat center / cover"></section>

  <section class="details">
    <form method="POST" action="/members?_method=PUT">
      <h3>Member</h3>

      {% include 'members/fields.njk' %}

      <input type="hidden" name="id" value="{{ member.id }}">
    </form>

    <form id="form-delete" action="/members?_method=DELETE" method="post">
        <button type="submit">Deletar</button>
        <input type="hidden" name="id" value="{{ member.id }}">
    </form>

  </section>
</div>

{% include 'confirm-delete.njk' %}

{% endblock content %}